#nav-checkbox {
  display: none;

  &:checked ~ .off-canvas {
    left: 0;
    z-index: 2000;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  &:checked ~ .icon-menu {
    left: -290px;
    transition: left 0.3s ease;
  }

  &:checked ~ .body-trigger {
    pointer-events: auto;
    z-index: 100;
    height: auto;
    position: absolute;
    overflow: hidden;
  }

  &:checked ~ .page-wrapper {
    right: -290px;
    overflow: hidden;
  }

  &:checked ~ body {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

}

.body-trigger {
  position: absolute;
  top: 35px;
  width: 100%;
  pointer-events: none;
  z-index: 1;
  float: left;
  display: block;
  height: 100%;
}

.off-canvas {
  position: absolute;
  left: -290px;
  width: 290px;
  background: #191a19;
  transition: left 0.3s ease;
  height: auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  
  .block {
    display: block;
    z-index: 105;
    float: left;
    width: 100%;
    height: auto;
    
    ul {
      display: block;

      li {
        display: block;

        a {
          display: block;
          color: #818181;
          font-size: 18px;
          font-family: SkyRegular, Arial, Helvetica, Geneva, sans-serif;
          line-height: 27px;
          padding: 11.5px 23px;
          border-bottom: 1px solid #212221;
          border-top: 1px solid #212221;

          &:hover {
            color: #fff;
            background: #000;
          }
        }
      }
    }
  }
}

.page-wrapper {
  transition: right .3s ease;
  display: block;
  position: relative;
  overflow: hidden;
}

li.navsplitter {
  background-color: #262726;
  color: #fff;
  font: 13px SkyBold, Arial, Helvetica, Geneva, sans-serif;
  padding-top: 4px;
  padding-left: 23px;
  padding-bottom: 4px;
}